[Unit]
Description=floor cleaning robot startup script
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/mvibot/floorCleaningRobot_ws
ExecStart=/home/mvibot/floorCleaningRobot_ws/robot_startup/config_internet.rc
Restart=on-failure
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
