#!/bin/bash
echo start
echo config internet
# name and mode for robot
name_seri="$(</home/mvibot/floorCleaningRobot_ws/config/name_seri)"
robot_type_connect="$(</home/mvibot/floorCleaningRobot_ws/config/robot_type_connect)"
# lan port control
lan_port="$(</home/mvibot/floorCleaningRobot_ws/config/lan_port)"
lan_type="$(</home/mvibot/floorCleaningRobot_ws/config/lan_type)"
lan_ipv4="$(</home/mvibot/floorCleaningRobot_ws/config/lan_ipv4)"
lan_ipv4_dns="$(</home/mvibot/floorCleaningRobot_ws/config/lan_ipv4_dns)"
lan_ipv4_gateway="$(</home/mvibot/floorCleaningRobot_ws/config/lan_ipv4_gateway)"
# wifi card control
wifi_port="$(</home/mvibot/floorCleaningRobot_ws/config/wifi_port)"
wifi_type="$(</home/mvibot/floorCleaningRobot_ws/config/wifi_type)"
wifi_ssid="$(</home/mvibot/floorCleaningRobot_ws/config/wifi_ssid)"
wifi_password="$(</home/mvibot/floorCleaningRobot_ws/config/wifi_password)"
wifi_ipv4="$(</home/mvibot/floorCleaningRobot_ws/config/wifi_ipv4)"
wifi_ipv4_dns="$(</home/mvibot/floorCleaningRobot_ws/config/wifi_ipv4_dns)"
wifi_ipv4_gateway="$(</home/mvibot/floorCleaningRobot_ws/config/wifi_ipv4_gateway)"
#config lan
sudo nmcli connection delete mvibot_network
sudo nmcli connection add ifname $lan_port con-name mvibot_network type ethernet connection.autoconnect yes
if [[ "$lan_type" = "auto" ]]
then
    sudo nmcli connection up mvibot_network
else
    sudo nmcli connection modify  mvibot_network ipv4.method manual ipv4.addresses $lan_ipv4/24
    sudo nmcli connection modify  mvibot_network ipv4.gateway $lan_ipv4_gateway ipv4.dns $lan_ipv4_dns
    sudo nmcli connection up mvibot_network
fi
#config wifi
sudo nmcli connection delete mvibot_hotspot 
sudo nmcli connection delete mvibot_cardwifi
if [[ "$wifi_type" = "hotspot" ]]
then
   echo hotspot mode 
   sudo nmcli connection delete mvibot_hotspot 
   sudo nmcli connection add type wifi ifname $wifi_port con-name mvibot_hotspot  ssid "$name_seri-hotspot"
   sudo nmcli connection modify mvibot_hotspot  802-11-wireless.mode ap 802-11-wireless.band bg ipv4.method shared
   sudo nmcli connection modify mvibot_hotspot wifi-sec.key-mgmt wpa-psk
   sudo nmcli connection modify mvibot_hotspot wifi-sec.psk "$name_seri@12345"
   sudo nmcli connection up mvibot_hotspot
else
   echo wireless mode
   sudo nmcli connection add ifname $wifi_port con-name mvibot_cardwifi type wifi ssid "$wifi_ssid" connection.autoconnect yes
   if [[ "$wifi_password" = "" ]]
   then
        echo wifi with security so not need modify security
   else
        sudo nmcli connection modify mvibot_cardwifi 802-11-wireless-security.key-mgmt WPA-PSK 802-11-wireless-security.psk "$wifi_password"
   fi
   if [[ "$wifi_type" = "auto" ]]
   then
        sudo nmcli connection up mvibot_cardwifi
   else
        sudo nmcli connection modify mvibot_cardwifi ipv4.method manual ipv4.addresses $wifi_ipv4/24 
        sudo nmcli connection modify mvibot_cardwifi ipv4.gateway $wifi_ipv4_gateway ipv4.dns $wifi_ipv4_dns
        sudo nmcli connection up mvibot_cardwifi
   fi
fi
# start control ros
if [[ "$robot_type_connect" = "wifi" ]]
then
   echo robot_type_connect wifi
   #
   ip_check="$(ip -4 addr show $wifi_port | grep -oP '(?<=inet\s)\d+(\.\d+){3}')"
   while [[ "$ip_check" = "" ]]
   do
	nmcli connection up mvibot_network
	ip_check="$(ip -4 addr show $wifi_port | grep -oP '(?<=inet\s)\d+(\.\d+){3}')"
   done
else
   echo robot_type_connect lan
   #
   ip_check="$(ip -4 addr show $lan_port | grep -oP '(?<=inet\s)\d+(\.\d+){3}')"
   while [[ "$ip_check" = "" ]]
   do
	nmcli connection up mvibot_network
	ip_check="$(ip -4 addr show $lan_port | grep -oP '(?<=inet\s)\d+(\.\d+){3}')"
   done   
fi
# write IP into config file
echo "$ip_check" > /home/mvibot/floorCleaningRobot_ws/config/ip_robot
