#!/bin/bash
echo start
echo run ros2 jazzy....
echo start
source /opt/ros/jazzy/setup.bash
source /home/mvibot/floorCleaningRobot_ws/install/setup.bash
export ROS_DOMAIN_ID=10
echo clean
rm -rf ~/.ros/log/*

# name and mode for robot
name_seri="$(</home/mvibot/floorCleaningRobot_ws/config/name_seri)"
mode="$(</home/mvibot/floorCleaningRobot_ws/config/mode)"
# serial for camera
serial_camera1="$(</home/mvibot/floorCleaningRobot_ws/config/serial_camera1)"
serial_camera2="$(</home/mvibot/floorCleaningRobot_ws/config/serial_camera2)"
#
robot_type_connect="$(</home/mvibot/floorCleaningRobot_ws/config/robot_type_connect)"
# port
lan_port="$(</home/mvibot/floorCleaningRobot_ws/config/lan_port)"
wifi_port="$(</home/mvibot/floorCleaningRobot_ws/config/wifi_port)"
#
DEV=/dev/video12
# Focus
v4l2-ctl -d $DEV --set-ctrl=focus_automatic_continuous=0
v4l2-ctl -d $DEV --set-ctrl=focus_absolute=420
# start control ros
if [[ "$robot_type_connect" = "wifi" ]]
then
   echo robot_type_connect wifi
   #
   ip_check="$(ip -4 addr show $wifi_port | grep -oP '(?<=inet\s)\d+(\.\d+){3}')"
   while [[ "$ip_check" = "" ]]
   do
        #nmcli connection up mvibot_network
        sleep 1
        ip_check="$(ip -4 addr show $wifi_port | grep -oP '(?<=inet\s)\d+(\.\d+){3}')"
   done
else
   echo robot_type_connect lan
   #
   ip_check="$(ip -4 addr show $lan_port | grep -oP '(?<=inet\s)\d+(\.\d+){3}')"
   while [[ "$ip_check" = "" ]]
   do
        #nmcli connection up mvibot_network
        sleep 1
        ip_check="$(ip -4 addr show $lan_port | grep -oP '(?<=inet\s)\d+(\.\d+){3}')"
   done   
fi
# write IP into config file
echo "$ip_check" > /home/mvibot/floorCleaningRobot_ws/config/ip_robot
#launch file
ros2 launch higher_layer_mvibot bringup_launch.py &
##launch server
#ros2 launch higher_layer_mvibot bringup_server_launch.py &
##launch robot
#ros2 launch lower_layer_mvibot mvibot_kernel_launch.py &
#ros2 launch lower_layer_mvibot mvibot_firmware_launch.py mvibot_seri:="$name_seri" serial_no_1:="$serial_camera1" serial_no_2:="$serial_camera2" &
#if [[ "$mode" = "navigation" ]]
#then
#	echo robot execute navigation
#   	ros2 launch mission_layer_mvibot mvibot_amcl_launch.py mvibot_seri:="$name_seri" &
#   	ros2 launch mission_layer_mvibot mvibot_navigation_launch.py mvibot_seri:="$name_seri" &
#	ros2 launch mission_layer_mvibot mvibot_mission_launch.py &
#else
#        echo robot execute slam
#fi
while :
do
  echo "An Infinite loop"
  sleep 1
done
exit 0
