#!/bin/bash
echo start
echo run ros2 jazzy....
echo start
source /opt/ros/jazzy/setup.bash
source /home/mvibot/floorCleaningRobot_ws/install/setup.bash
export ROS_DOMAIN_ID=10
echo clean
rm -rf ~/.ros/log/*

# name and mode for robot
name_seri="$(</home/mvibot/floorCleaningRobot_ws/config/name_seri)"
mode="$(</home/mvibot/floorCleaningRobot_ws/config/mode)"
# serial for camera
serial_camera1="$(</home/mvibot/floorCleaningRobot_ws/config/serial_camera1)"
serial_camera2="$(</home/mvibot/floorCleaningRobot_ws/config/serial_camera2)"

#launch file
ros2 launch lower_layer_mvibot mvibot_kernel_launch.py &
ros2 launch lower_layer_mvibot mvibot_firmware_launch.py mvibot_seri:="$name_seri" serial_no_1:="$serial_camera1" serial_no_2:="$serial_camera2" &
if [[ "$mode" = "navigation" ]]
then
	echo robot execute navigation
   	ros2 launch mission_layer_mvibot mvibot_amcl_launch.py mvibot_seri:="$name_seri" &
   	ros2 launch mission_layer_mvibot mvibot_navigation_launch.py mvibot_seri:="$name_seri" &
	ros2 launch mission_layer_mvibot mvibot_mission_launch.py &
else
        echo robot execute slam
fi
while :
do
  echo "An Infinite loop"
  sleep 1
done
exit 0
