[Unit]
Description=floor cleaning robot startup script
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=mvibot
WorkingDirectory=/home/mvibot/floorCleaningRobot_ws
ExecStart=/bin/bash /home/mvibot/floorCleaningRobot_ws/robot_startup/robot_startup.rc
Restart=on-failure
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
